<div class="app-cards">
    <div class="app-card app-card-max app-users">
        <div class="app-users-title">
            <h4>Usuarios</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="app-users-actions">
            <button class="app-btn app-btn-outline">
                Previsualizar
            </button>
            <button class="app-btn app-btn-solid">
                Agregar nuevo usuario
            </button>
        </div>
    </div>
    <div class="app-card app-card-max">
        <app-data-table-filters (emiter)="catcher($event)"></app-data-table-filters>
        <app-data-table [rows]="users$ | async" [columns]="columns" [limits]="limit" [sorts]="sorts"></app-data-table>
    </div>
</div>
