.app-datatable-actions {
    display: flex;
}

.app-datatable-actions button {
    background-color: transparent;
    border: none;
    margin: 0 1em;
    cursor: pointer;
}

.app-datatable-actions .app-icon-edit {
    filter: invert(48%) sepia(50%) saturate(3869%) hue-rotate(3deg) brightness(101%) contrast(101%);
}

.app-datatable-actions .app-icon-trash {
    filter: invert(65%) sepia(53%) saturate(7477%) hue-rotate(331deg) brightness(104%) contrast(99%);
}